*{
    margin: 0;padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(medicine.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align:right ;
  }


.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}
.container .content h3{
    font-size:30px ;
    color:white;
}
.container .content h3 span{
    color: white;
    border-radius: 5px;
    padding: 0 15px;
}
.container .content h1{
    font-size: 50px;
    color: white;
}
.container .content h1 span{
    color: white;
}
.container .content p{
    font-size: 25px;
    margin: 20px;
    color: white;
}
.container  .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: rgb(119, 91, 119);
    color: white;
    margin: 0 5px;
    text-transform: capitalize;
}
.container  .content .btn:hover{
    background: purple;
}

/*-----REGISTER PAGE-----*/

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    
}
.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(119, 91, 119);
    background: rgb(119, 91, 119);
    text-align: center;
    width: 500px;
}
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
}
.form-container form input,.form-container form select{
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0; 
    background:#fff;
    border-radius: 5px;
}
.form-container form select option{
    background: #fff;
}
.form-container form .from-btn{
    background: plum;
    color: purple;
    font-size: 20px;
    cursor: pointer;
}
.form-container form .from-btn:hover{
    background: plum;
    color: #fff;
}
.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}
.form-container form p a{
    color: #fff;
}
.form-container form .error-msg{
    margin: 10px 0;
    display: block;
    background: plum;
    color: #fff;
    border-radius: 5px;
}
a{
    color: #fff;
    text-align: right;
    padding: 12px;
    transition: 0.3s linear;
    border-radius: 10%;
}

/*-----ADMIN PANEL-----*/

